*{
    margin: 0;
    box-sizing: border-box;
}
.form{
    height: 500px;
    background-color: #f0e7e7;
    border: 2px solid rgb(11, 2, 2);
    width: 35%;
    margin: 80px 420px;
    box-shadow: 3px -3px 8px 10px rgba(29, 29, 65, 0.5);
}
.form1{
    padding: 1rem;
    color: rgb(38, 38, 52);
}
label{
    /* display: inline-block; */
    float: left;
    /* clear: left; */
    width: 110px;
    text-align: left; /*Change to right here if you want it close to the inputs*/
}
input {
  /* display: inline-block; */
  float: left;
}

